.NewsSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.NewsSection .Links {
    flex-basis: 40%;
}

@media all and (max-width: 400px) {
    .NewsSection {
        display: unset;
    }
}