.Img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    order: -1;
}

.UserData {
    width: 70%;
    margin: auto;
}