.MovieInfoWrapper, .MovieInfo {
    flex: 1 1 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.MovieInfo {
    padding-left: 20%;
    flex: 0 1 60%;
}

.Image {
    flex: 0 1 20%;
}

@media all and (max-width: 1050px) {
    .MovieInfoWrapper {
        flex-direction: column;
    }
    .MovieInfo {
        padding-left: 0px;
        flex: unset;
    }
}