.BarWrapper {
    align-self: center;
    display: flex;
    position: fixed;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 98vw;
    height: 100%;
    background: rgba(40, 44, 52, 0.9);
}

.loader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loader .bar {
    width: 10px;
    height: 5px;
    background: #10c15c;
    margin: 2px;
    animation: bar 1s infinite linear;
}

.loader .bar:nth-child(1) {
    animation-delay: 0s;
}

.loader .bar:nth-child(2) {
    animation-delay: 0.25s;
}

.loader .bar:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes bar {
    0% {
        transform: scaleY(1) scaleX(0.5);
    }
    50% {
        transform: scaleY(10) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(0.5);
    }
}