.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  max-width: 1400px;
  text-align: center;
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

.App::after{
  content: "";
  position: absolute;
  background: center / contain no-repeat url('./assets/Binary-Globe-2.svg');
  height: 60%;
  width: 60%;
  rotate: 23.5deg;
  z-index: -1;
  top: 15%;
  left: -20%;
}

.ContentWrapper {
  display: flex;
}




